
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0
                          http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository />
	<interactiveMode />
	<usePluginRegistry />
	<offline />
	<pluginGroups />

	<servers>
		<server>
			<id>ossrh</id>
			<!-- fill: -->
			<username>your-jira-id</username>
			<!-- fill: -->
			<password>your-jira-pwd</password>
		</server>
	</servers>

	<mirrors />
	<proxies />

	<profiles>
		<profile>
			<id>gpg</id>
			<properties>
				<!-- fill: -->
				<gpg.passphrase>your passphrase</gpg.passphrase>
				<!-- fill: -->
				<gpg.keyname>your pgp key</gpg.keyname>
			</properties>
		</profile>
	</profiles>

	<activeProfiles />
</settings>